# fly.toml app configuration file generated for traitorsfantasydraft-pb on 2026-01-29T08:51:29Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'traitorsfantasydraft-pb'
primary_region = 'iad'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8090
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    method = "GET"
    path = "/api/health"
    protocol = "http"
    interval = "15s"
    timeout = "2s"
    grace_period = "10s"

[[mounts]]
  source = 'pb_data'
  destination = '/pb/pb_data'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
